.cards{
    overflow: scroll;
    height: 100%;
    padding: 1rem;

    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 10rem;
    justify-content: center;

    .card{
        flex-grow: 1;
        flex-basis: 20rem;
        max-width: 30rem;
        

        padding-inline: 1rem;
        padding-block: .75rem;

        background-color: black;
        border-radius: .5rem;

        color: rgb(222, 222, 222);

        display: flex;
        flex-direction: column;
        gap: 1rem;
        img{
            width: 100%;
            border-radius: .5rem;
        }

        p{
            font-size: .9rem;
            line-height: 1.2rem;   
            word-spacing: .3rem;
        }


        .tags{
            display: flex;
            gap: .5rem;
            flex-wrap: wrap;
            margin-bottom: .5rem;
            span{
                background-color: #333;
                padding: .25rem .5rem;
                border-radius: .25rem;
                font-size: .8rem;
            }
        }

        .urls{
            display: flex;
            gap: 1rem;
            a{
                text-decoration: none;
                color: #4ea6ff;
                font-weight: 600;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}