.window {
    height: 100%;
    // width: 1000px;
    background-color: #232323ac;
    backdrop-filter: blur(5px);
    border-radius: .75rem;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-weight: 500;

    .nav {
        padding-inline: .75rem;
        padding-block: .5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        
        display: flex;
        gap: 1.5rem;

        align-items: center;
        .dots {
            display: flex;
            gap: .25rem;

            .dot {
                height: 12px;
                width: 12px;
                border-radius: 50%;
                margin: 2px;
                display: inline-block;
                background: white;

            }

            .red {
                background-color: #ff605c;
            }

            .green {
                background-color: #28ca41;
            }

            .yellow {
                background-color: #ffbd2e;
            }
        }
    }
    .main-content {
        height: 100%;
    }

    *::-webkit-scrollbar {
        width: 8px;
    }
    *::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
    }
     
}