nav {
    width: 100%;
    color: white;
    padding-inline: .75rem;
    padding-block: .5rem;
    background-color: rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .left , .right{
        display: flex;
        gap: 1rem;
    }
}